@import url(../reset.css);
@import url(../header.css);

@font-face {
    font-family: 'DreamyBubble';
    src: url('../Fonts/DreamyBubbleDemoDemo-lgAZD.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DreamyBubble';
    src: url('../Fonts/DreamyBubbleDemoDemo-nRVxV.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*HEADER HEADER*/
.header {
    overflow: hidden;
    padding: 20px 10px;
    margin-bottom: 20px;

    background-color: #f1f1f1;
}

.header a {
    float: left;
    padding: 15px;

    text-align: center;
    text-decoration: none;

    font-size: 18px;
    line-height: 25px;

    color: black;
    border-radius: 25%;
}
.header a.logo {
    font-family: "DreamyBubble";
    font-size: 30px;
    font-weight: bold;
}

.header a:hover {
    background-color: #9F58F9;
    color: white;
}
.header a.logo:hover {
    background-color: transparent;
    color: black;
}


.header-right {
    float: right;
}
  
/* utilizamos media para la responsividad */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

/*PROFILE HEAD*/
.profileChange{
    margin: 0 auto;
    padding: 30px 20px;
    margin-bottom: 20px;
    width: 60vw;
    height: auto;
    position: relative;

    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    -webkit-box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);

    background-color: white;
}

#profileImage{
    display: flex;
    align-self: center;

    margin: 10px;
    margin-top: 25px;
    width: 8em;
    height: 8em;

    border-radius: 50%;
}

.newProfilePic{
    align-self: center;
    margin-top: 10px;
}

#usernameHeader{
    display: flex;

    margin: 10px;
    margin-bottom: 30px;
}

#newProfilePicForm{
    display: flex;
    flex-direction: column;

    width: 75%;
}

.inputsList{
    align-self: center;

    width: 60%;
    max-width: calc(100% - 20px); /* Para evitar overflow por padding */

    margin: 7px;
    background-color: rgba(211, 211, 211, 0.678);
    color: gray;

    border-color: rgb(183, 183, 183);
    border-top: none;
    border-left: none;
    border-radius: 5px;
    
    padding: 5px;
    padding-left: 14px;
}

#signInDate{
    margin-top: 10px;
    align-self: center;
    font-family: sans-serif;
    font-size: 0.9em;
}

.backToProfA{
    text-decoration: none;
}
.backToProfA:hover{
    animation: movIzq 1.2s ease infinite alternate;
}
@keyframes movIzq {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-10px);
    }
  }

.submitA{
    display: flex;
    align-self: flex-end;

    font-family: sans-serif;
    font-size: 0.8em;

    text-decoration: none;
    padding: 10px 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 25px;

    color: black;
    background-color: lightgrey;

    transition: transform 0.1s ease-in-out;
}
.submitA:hover{
    color: white;
    background-color: rgb(158, 158, 158);
    border: 1px solid rgba(0, 0, 0, 0.664);
}
.submitA:active {
    transform: scale(0.90);
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    background-color: rgba(214, 212, 212, 0.55);
}
/* Pie de pagina */

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0; 
    background-color: rgb(239, 183, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.footer-menu-container{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style-type: none;
    color: rgb(42, 4, 52);
    font-size: 16px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    width: 100%;
    display: block;
    font-size: 14px;
    color: rgb(44, 4, 82);
    opacity: 0.5;
    text-align: center;
} 