@import url(../reset.css);

/*PROFILE HEAD*/
.profileChange{
    margin: 0 auto;
    padding: 30px 20px;
    width: 60vw;
    height: auto;
    position: relative;

    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);

    background-color: white;
}

#profileImage{
    display: flex;

    margin: 10px;
    margin-top: 25px;
    width: 8em;
    height: 8em;

    border-radius: 50%;
}

#usernameHeader{
    display: flex;

    margin: 10px;
    margin-bottom: 30px;
}

.inputsList{
    width: 60%;
    max-width: calc(100% - 20px); /* Para evitar overflow por padding */

    margin: 7px;
    background-color: rgba(211, 211, 211, 0.678);
    color: gray;

    border-color: rgb(183, 183, 183);
    border-top: none;
    border-left: none;
    border-radius: 5px;
    
    padding: 5px;
    padding-left: 14px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(214, 212, 212, 0.55);
}