@import url(../reset.css);
@import url(../header.css);
@import url(../footer.css);

html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url("../Assets/seamless-bg.png");
    background-size: cover;}

.container{
    background-color: white;
    border-radius: 20px;
    width: 90%;
    padding: 1em;
    max-width: 500px;
    /* esto hace que se ponga en el medio (importante) */
    margin: auto auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    -webkit-box-shadow: 10px 10px 20px -1px rgba(237,206,237,1);
    -moz-box-shadow: 10px 10px 20px -1px rgba(237,206,237,1);
    box-shadow: 10px 10px 20px -1px rgba(237,206,237,1);
}

h1{
    text-align: center;
    color: rgb(70, 38, 76);
    margin-bottom: 5px;
}

.backToConvA {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 10px;
}

.backToConvA:hover {
    animation: movIzq 1.2s ease infinite alternate;
}
@keyframes movIzq {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-10px);
    }
}

.styledPost{
    width: 90%;
    padding: 1em;
    margin: 10px;
    font-size: 16px;
    border-radius: 20px;
}

.styledPost:focus{
    border-color: rgb(239, 199, 239);
    box-shadow: 0 0 5px rgba(210, 97, 210, 0.5);
    outline: none;
}

.btnPublish {
    width: 100%;
    padding: 1em;
    font-size: 16px;
    background-color: rgb(239, 183, 241);
    color: rgb(66, 4, 99);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    cursor: pointer;
    border:1px solid #b362e6;
    transition: background-color 0.3s ease;
}

.btnPublish:hover {
    background-color: rgb(208, 109, 228);
}