@import url(../reset.css);
@import url(../header.css);

/*PROFILE HEAD*/
.profileHead{
    margin: 0 auto;
    padding: 0;
    width: 80vw;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* -webkit-box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 37px 0px rgba(0,0,0,0.3); */

    background-color: white;
}

#profileImage{
    display: flex;

    margin: 10px;
    margin-top: 25px;
    width: 8em;
    height: 8em;

    border-radius: 50%;
}

#usernameHeader{
    display: flex;

    margin: 10px;
    margin-bottom: 20px;

    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}
.divCount{
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 20px;
}
.columnCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.columnCount h4{
    font-family: sans-serif;
    font-size: 0.9em;
}
.followerCount{
    font-family: sans-serif;
}
.followingCount{
    font-family: sans-serif;
}

.editProfileA{
    display: flex;
    padding: 0.6em;

    font-family: sans-serif;
    font-size: 0.8em;

    text-decoration: none;
    border: 1px solid black;
    border-radius: 25px;

    color: black;
    background-color: lightgrey;

    transition: transform 0.1s ease-in-out;
}
.editProfileA:hover{
    color: white;
    background-color: rgb(158, 158, 158);
    border: 1px solid rgba(0, 0, 0, 0.664);
}
.editProfileA:active {
    transform: scale(0.90); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
  }

#postTitle{
    margin-top: 50px;
    font-family: sans-serif;
}

.noPostStyle{
    width: 100%;
    margin: 15px 0px 20px;
    text-align: center;

    font-family: sans-serif;
}

/*PINTEREST GRID*/
:root{
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}

body{
    margin: 0;
    padding: 0;
    /* background-color: rgba(214, 212, 212, 0.55); */
    background-color: white;
}

.pin_container{
    margin: 0;
    padding: 0;
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    
    background-color: white;

    /* -webkit-box-shadow: 0px 65px 67px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 65px 67px 5px rgba(0,0,0,0.25);
    box-shadow: 0px 65px 67px 5px rgba(0,0,0,0.25); */
}

.titlePin_container{
    margin: 0;
    padding: 0;
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.titlePost_container h3{
    font-size: 1.3em;
}

.card{
    padding: 0px;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);

    background-color: white;
    border: 1px solid black;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card_small{
    grid-row-end: span var(--card_small);
}

.card_medium{
    grid-row-end: span var(--card_medium);
}

.card_large{
    grid-row-end: span var(--card_large);
}

.cardImage{
    width: 70%;
    object-fit: scale-down;
}
/* Pie de pagina */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0; 
    background-color: rgb(239, 183, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.footer-menu-container{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style-type: none;
    color: rgb(42, 4, 52);
    font-size: 16px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    width: 100%;
    display: block;
    font-size: 14px;
    color: rgb(44, 4, 82);
    opacity: 0.5;
    text-align: center;
} 