@import url(../reset.css);
@import url(../header.css);
@import url(../footer.css);

body {
  background-image: url("../Assets/seamless-bg.png");
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container-img-input {
  display: flex;
  align-items: center;
  background-color: white;
  width: 350px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 25px;
}

.container-img-input img {
  width: 20px;
  height: 20px;
}

#autoComplete {
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: transparent;
  border: 0px;
  width: 300px;
}

#autoComplete:focus {
  border: none;
  outline: none;
}

#dataList {
  display: none;
  height: 10vh;
  overflow: auto;
  left: 0;
  border: 1px solid black;
}

#dataList option {
  font-family: arial;
  font-size: 11.8px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
}

#dataList option:hover {
  background-color: #bfddf5;
}

#listPost {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post {
  width: 50vh;
  margin-bottom: 50px;
  background: #f4f4f4;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 10px;
}

.post .img-post {
  width: 50vh;
  height: 50vh;
}

.icons-post {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}
.icons-post:hover {
  cursor: pointer;
}
.btn-incons-post {
  background: none;
  border: none;
}
.count-likes,
.count-comments {
  font-size: 20px;
}
.icons-post.like {
  animation: like-animation 0.3s ease forwards;
}

@keyframes like-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.span-icons {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.details-section,
#idComment {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.date-span {
  font-size: 12px;
}

@media (max-width: 425px) {
  .post {
    width: 40vh;
  }
  .post .img-post {
    width: 40vh;
    height: 50vh;
  }
}

@media (max-width: 768px) {
}

#create-post {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  background-color: rebeccapurple;
  padding: 2em;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.btn-create-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 1em;
}
#perfil-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 56%;
  right: 75%;
  transform: translateY(-50%);
  border: 1px solid rebeccapurple;
  background-color: white;
  padding: 2em;
  border-radius: 25px;
  width: 10em;
  height: 20em;
}
#img-perfil-details {
  margin: 10px;
  width: 8em;
  height: 8em;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  #create-post {
    top: auto;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, 0);
    padding: 3em;
    width: 4em;
    height: 4em;
  }
  .btn-create-post {
    font-size: 2em;
  }
  #perfil-details {
    display: none;
  }
}

@media (max-width: 768px) {
  #create-post {
    top: auto;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, 0);
    padding: 1em;
    width: 2em;
    height: 2em;
  }
  .btn-create-post {
    font-size: 0.8em;
  }
}
